<!-- Navbar Structure-->

<div class="mx-auto flex items-center">
    <!-- Left SideBar Button -->
    <span class="text-gray-300 hover:text-white transition ease-in mr-8 ">
        <button class="menu-toggle bg-gray-800 py-2 px-2 rounded-md">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
    </span>

    <!--  Container  -->
    <div class="container flex justify-between items-center">
        <!-- Logo -->
        <a href="#" class="text-white text-xl font-semibold font-sans">Logo</a>

        <!-- Right SideBar Button -->
        <span class="text-gray-300 hover:text-white transition ease-in">
            <button id="second-sidebar-toggle" class="bg-gray-800 hover:bg-gray-700 py-2 px-4 rounded-md">
               <i class="fa-regular fa-user fa-lg"></i>
            </button>
        </span>
    </div>


</div>

<aside class="second-sidebar font-sans transform right-0 top-0 w-64 bg-gray-800 fixed h-full overflow-y-auto translate-x-full transition-transform duration-300 ease-in-out" id="second-sidebar">
      <div class="flex justify-end items-center h-16 bg-gray-900 px-4">
        <span class="text-gray-300 hover:text-white transition ease-in">
            <button id="second-sidebar-close" class="h-6 w-6 bg-gray-900 hover:bg-gray-700 transition ease-in rounded-md">
                <i class="fa-solid fa-xmark fa-lg"></i>
            </button>
        </span>
      </div>

      <!--   Right Nav    -->
      <nav class="mt-5">
        <a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition ease-in">Item 1</a>
        <a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition ease-in">Item 2</a>
        <a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition ease-in">Item 3</a>


      </nav>
      <!--    Logout      -->
      <div class="mt-80 bg-gray-900 py-2 px-2 min-h-20 h-28">
          <a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 rounded-sm hover:text-white transition ease-in">
              <span><i class="fa-solid fa-arrow-right-from-bracket mr-2"></i>Log Out</span>
          </a>
      </div>
    </aside>
