# Python Virtualenv
pip-selfcheck.json
*.egg-info
*.cache
**/*.tmp
*.iml
*.xml
.env
.overrides
venv

# local development
data.db*
logs/
**/*.log
.coverage
**/*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#log archives
docker/engine/logs

#Local Development
**/todo.txt
