<!-- Sidebar Structure  -->

      <!-- Logo -->
      <div class="flex items-center justify-between p-4 h-16 bg-gray-900 text-white font-sans">
          <h2>HIGIA</h2>

          <span class="text-gray-300 hover:text-white transition ease-in">
              <button id="sidebar-close" class="h-6 w-6 bg-gray-900 hover:bg-gray-700 transition ease-in rounded-md">
                  <i class="fa-solid fa-xmark fa-lg"></i>
              </button>
          </span>
      </div>
      <!-- Links do menu -->
      <nav class="mt-5 font-sans p-2">
        <a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white rounded-md transition ease-in">Appointments</a>
        <a href="#" class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white rounded-md transition ease-in">Exams</a>
      </nav>